.home-page-container {
  height: 500vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  scroll-behavior: smooth;

  /* background-color: red; */
}

@media screen and (max-width: 900px) and (max-height: 1600px) {
  .home-page-container {
    height: 500vh;
  }
}

@media screen and (max-width: 600px) and (max-height: 960px) {
  .home-page-container {
    height: 510vh;
  }
}

@media screen and (max-width: 480px) and (max-height: 850px) {
  .home-page-container {
    height: 530vh;
  }
}

@media screen and (max-width: 480px) and (max-height: 850px) {
  .home-page-container {
    height: 550vh;
  }
}

@media screen and (max-width: 375px) and (max-height: 640px) {
  .home-page-container {
    height: 560vh;
  }
}
